Repository FrownGate/Ennisia, pull requests merged in 2023-05, with the labels that each got.

#33 Add main Database requests
  Assets/PlayFabSDK/Shared/Public/Resources/PlayFabSharedSettings.asset
  Assets/Scripts/Database/AuthData.cs
  Assets/Scripts/Database/AuthData.cs.meta
  Assets/Scripts/Database/PlayFabManager.cs
Labels: database

#40 main <- Tool/currencies
  Assets/Scenes/Dev/Valentin.unity
  Assets/Scripts/Currencies/ToolCurrencies.cs
  Assets/Scripts/Currencies/ToolCurrencies.cs.meta
  Assets/Scripts/Database/PlayFabManager.cs
Labels: INVALID, tool

#44 main <- Tool/currencies
  Assets/Scripts/Currencies/ToolCurrencies.cs
  Assets/Scripts/Database/PlayFabManager.cs
Labels: tool

#45 Database/gacha system
  Assets/Scenes/Dev/Emilie.unity
  Assets/Scripts/Database/PlayFabManager.cs
  Assets/Temp/Emilie/AccountData.cs
  Assets/Temp/Emilie/AccountData.cs.meta
  Assets/Temp/Emilie/Data.cs
  Assets/Temp/Emilie/Data.cs.meta
  Assets/Temp/Emilie/InventoryData.cs
  Assets/Temp/Emilie/InventoryData.cs.meta
  Assets/Temp/Emilie/PlayerData.cs
  Assets/Temp/Emilie/PlayerData.cs.meta
Labels: database

#54 Add functions for Gacha System
  Assets/Scripts/Database/PlayFabManager.cs
Labels: database

#55 Database/requests
  Assets/Scenes/TitleScreen.unity
  Assets/Scripts/Database/AccountData.cs
  Assets/Scripts/Database/AccountData.cs.meta
  Assets/Scripts/Database/Data.cs
  Assets/Scripts/Database/Data.cs.meta
  Assets/Scripts/Database/InventoryData.cs
  Assets/Scripts/Database/InventoryData.cs.meta
  Assets/Scripts/Database/PlayFabManager.cs
  Assets/Scripts/Database/PlayFabManager.prefab
  Assets/Scripts/Database/PlayFabManager.prefab.meta
  Assets/Scripts/Database/PlayerData.cs
  Assets/Scripts/Database/PlayerData.cs.meta
  Assets/Scripts/Database/ShowWhenLoggedIn.cs
  Assets/Scripts/Database/ShowWhenLoggedIn.cs.meta
Labels: database

#59 Tool/currencies
  Assets/Scripts/Currencies/ToolCurrencies.cs
  Assets/Scripts/Database/PlayFabManager.cs
Labels: tool

#62 :star: Use Crystals for Summons
  Assets/Scenes/Dev/Emilie.unity
  Assets/Scripts/GachaSystem.cs
Labels: feature, database
